body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

section {
    padding: 20px 20px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    border-radius: 10px;
}

.skills-container {
    max-width: 600px;
    margin: 0 auto;
}

.skill {
    margin-bottom: 20px;
}

.skill-bar {
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level {
    background: #4caf50;
    color: white;
    padding: 5px;
    text-align: right;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}

.featured {
    padding: 50px;
    background: #666;
    color: #f4f4f4;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #028A0F; 
}

@media (max-width: 600px) {
    .social-icons {
        flex-direction: column;
        gap: 10px;
    }
}

#footer-text{
    font-style: italic;
font-size: large;}

.download-btn button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 12px 20px; /* Some padding */
    border: none; /* Remove borders */
    cursor: pointer; /* Pointer/hand icon */
    font-size: 16px; /* Increase font size */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

.download-btn button:hover {
    background-color: #45a049; /* Darker shade of green */
}
